
.seaFieldSurrounder {
    display: inline-block;
}

.seaField {
    margin: 20px 20px 20px 0;
    display: inline-block;
}

.seaField.winner {
    box-shadow: 0 0 50px #ffe10e;
}

.seaField.looser {
    opacity: 0.5;
}

.seaField .fieldLetters {
    display: inline-block;
    width: 24px;
    text-align: center;
    color: #2491bf;
    font-weight: bold;
}

.fieldNumbersBlock {
    display: inline-block;
    width: 15px;
}

.fieldNumbersBlock .fieldNumbers {
    height: 24px;
    color: #2491bf;
    font-weight: bold;
}

.cell {
    cursor: default;
    display: inline-block;
    border: 1px solid #66cffb;
    width: 20px;
    height: 20px;
    background-color: #f9f9f9;
    margin: 1px;
}

.cellShipUser {
    background-color: lightseagreen;
}

.cellMissed {
    color: #1643af;
    background-color: #cccccc !important;
}
.cellMissed:after {
    content: '\29BF';
    margin-left: 1px;
}

.cellHit {
    color: #b50e0e;
    background-color: #ff625f !important;
}
.cellHit:after {
    content: '\2715';
    margin: 1px 1px 0 0;
}

.cellBorder {
    background-color: #eee;
    color: #66cffb;
}
.cellBorder:after {
    content: '\2022';
    margin-left: 3px;
}